# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/.idea.MemoryGame.iml
/contentModel.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../:\GameDev\Project Files\MemoryGame\.idea\.idea.MemoryGame.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
