$main-color: hsla(99, 100%, 73%, 1);
$light-green: hsla(99, 100%, 85%, 1);
$background-color: hsla(66, 100%, 94%, 1);
$secondary-color: hsla(66, 50%, 94%, 1);
$text-color: hsla(0, 0%, 16%, 1);
$light-black: hsla(0, 0%, 25%, 1);